node_modules/
.env.DS_Store
.DS_Store


# Terraform state files
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform lock file
.terraform.lock.hcl

# Terraform directories
.terraform/
.terraform.d/
.terraform/
.terraform.lock.hcl

# AWS CLI Credentials (DO NOT COMMIT AWS CREDENTIALS)
.aws/

# Logs and system files
*.log
*.swp
*.bak
*.tmp

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db



# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# Build output
dist/
out/
build/

# IDE files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
